html{
    font-family: sans-serif;
}

.colors{
    color-scheme: #D3D3FF, #9400D3,#D8BFD8,#ED80E9;
}

.extremities{
    background-color: #4b0a6e;
    border-top: #000000 solid 5px;
    border-bottom: #000000 solid 5px;
}

header{
    /*container style*/
    position: sticky;
    top: 0;
    display: grid;

    /*contents style*/

    /*text style*/
    color: #FFFFFF;
    text-align: left;
    padding-inline-start: 12%;

}

body{
    /*container style*/
    margin: 0;
    padding: 0;
    width: 100%;

    /*contents style*/

    /*text style*/
}

.site{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

main{
    /*container style*/
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D3D3FF, #9400D3);
    background: linear-gradient(to bottom, #D3D3FF, #9400D3);
    height: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    
    /*contents style*/

    /*text style*/
    text-align: justify;
}

#presentation{
    /*container style*/
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 20px;

    /*contents style*/

    /*text style*/
}

#skills{
    /*container style*/
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 20px;

    /*contents style*/

    /*text style*/
}

#projects-container{
    /*container style*/
    display: grid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap: 15px;

    /*contents style*/

    /*text style*/
}

.project{
    /*container style*/
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 20px;

    /*contents style*/

    /*text style*/
}

footer{
    /*container style*/
    margin-top: auto;

    /*contents style*/

    /*text style*/
    color: #FFFFFF;
    text-align: center;
}

#nothing{
    color: 0;
    /*container style*/

    /*contents style*/

    /*text style*/
}