html{
    font-family: sans-serif;
    scrollbar-width: thin;
}

body{
    /*container style*/
    margin: 0;
    padding: 0;
    width: 100%;
    
    /*contents style*/
    
    /*text style*/
}

header{
    /*container style*/
    position: sticky;
    top: 0;
    border-bottom: #AFAFAF solid 3px;
    padding: 5px;
    
    /*contents style*/
    display: grid;
    grid-template-columns:  auto 1fr auto auto;
    column-gap: 10px;
    grid-template-rows: auto;

    /*text style*/
    color: #FFFFFF;
    text-align: left;
    padding-inline-start: 7%;
    padding-inline-end: 7%;
    font-size: small;

}

main{
    /*container style*/
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #7b18b0,#000000);
    background: linear-gradient(to bottom,#000000, #7b18b0,#000000);
    height: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    
    /*contents style*/

    /*text style*/
    text-align: justify;
}

.contents{
    width: 65%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border:#FFFFFF solid 3px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

footer{
    /*container style*/
    margin-top: auto;
    border-top: #AFAFAF solid 3px;
    display: grid;

    /*contents style*/

    /*text style*/
    color: #FFFFFF;
    text-align: center;
}